<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- #8.2. @Mapper인터페이스 지정 -->
<mapper namespace="com.kh.spring.member.model.dao.MemberDao">

	<insert id="insertMember">
		insert into
			member
		values(
			#{memberId},
			#{password},
			#{name},
			#{gender},
			#{birthday},
			#{email},
			#{phone},
			#{address},
			#{hobby},
			default,
			null,
			default
		)
	</insert>
	
	<insert id="insertAuthority">
		insert into
			authority
		values (
			#{memberId}, 'ROLE_USER'
		)
	</insert>
	
	<select id="selectOneMember" resultType="member">
		select
			*
		from
			member
		where
			member_id = #{memberId}
	</select>
	
	<update id="updateMember">
		update
			member
		set
			name = #{name},
			birthday = #{birthday},
			email = #{email},
			phone = #{phone},
			address = #{address},
			gender = #{gender},
			hobby = #{hobby},
			updated_at = sysdate
		where
			member_id = #{memberId}
	</update>
	
</mapper>